*{
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    padding-right: 1000px;
}
    
.cabecalho{
 background-color: #1f1f24 ;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;

}
.menu-principal{
    display: flex;
       gap: 40px;
       font-family: sans-serif;
       
       
}


.botao-menu {
    border-color: #000000;
    color: #ffffff;
    background-image: -webkit-linear-gradient(45deg, #000000 50%, transparent 50%);
    background-image: linear-gradient(45deg, #c0c0c0 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    font-size: 20px; 
    border-radius: 6px;
    line-height: 60px;
    height: 80px;
    width: 120px;
    text-align: center;
    
    
     
    
  }
  .botao-menu:hover {
    background-position: 0;
    background-color:black ;
    
  }
  .Rodape{
      background-color:#1f1f24 ;
      font-family: sans-serif;
      color:#FFFFFF;
      text-align: left;
     
 }

 .redes-sociais{
     display: flex;
     opacity:40%;
 }

.frase-final {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border-color: rgb(247, 240, 240);
    opacity: 30%;   
}   
.contatos{
    display: flex;
    flex-direction: row;
    text-align:center;
    opacity: 30%;
}

.containerfooter{
    display: flex;
    flex-direction: column;
}
.logo-slogam{
    display: flex;
    flex-direction: column;
    
}
.logo-slogam p{
    opacity: 20%;
}
footer{
    display: flex;
    justify-content: space-between;
}
#quem-somos{
    background-color: #D2C2B0;  
}

#titulo-quem-somos{
    display: block;
    background-color: #bda58b;
    margin: -10px;
}

button {
    background-color: rgb(104, 103, 103);
    color: white;
    box-shadow:black;
    border-radius: 8px; 
    padding: 6px 10px 6px 10px;

}

.button:hover {
    background-color: black;
    color: white;
    box-shadow:rgb(61, 60, 60);
    border-radius: 8px; 
    padding: 6px 10px 6px 10px;

}


/* Seção Nosso time */

.contato-time {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rede-social-time img {
    width: 32px;
    height: 32px;
}

.colaborador-time {
    display: flex;
    padding: 8px 32px;
}

.colaborador-time > img {
    width: 150px;
    height: 150px;
}

.colaboradores {
    display: flex;
    justify-content: center;
}